<body class="w-100 h-100">
    <div class="row" id="welcome">
        <div class="m-5 col-12 col-md-5 d-none d-md-block">
            <img src="../../assets/image/header-image.jpg" alt="Balance" class="img-fluid rounded-3">
        </div>
        <div class="welcome col-12 col-md-5 my-auto mx-auto">
            <h5>Welcome to Blissful Zen Yoga and Meditation Sanctuary!</h5>
            <h1>
                Harmony for Body & Mind
            </h1>
            <p>
                Yoga frees time, it doesn't take time.
            </p>
            <div class="btn-div">
                <a href="#services" class="btn btn-main p-sm-2 p-lg-3">Learn More</a>
                <a href="#contact" class="btn btn-main m-3 p-sm-2 p-lg-3">Contact Us</a>
            </div>
        </div>
    </div>
    <section class="sections" id="aboutUs">
        <div class="container">
            <div class="main-title text-center p-4">
                <span class="section-icon">
                    <i class="fa-solid fa-dharmachakra"></i>
                </span>
                <h2>About Us</h2>
            </div>
            <div class="row">
                <p class="text-center">
                    This sacred space offers you the opportunity to discover true harmony for your body and mind through
                    the
                    practice of yoga and meditation. Blissful Zen is a sanctuary where you can escape the demands of
                    everyday life and immerse yourself in a state of pure serenity.
                    At Blissful Zen Yoga and Meditation Sanctuary, you will experience a transformative journey, guided
                    by
                    skilled instructors who will lead you through a variety of yoga asanas, pranayama breathing
                    techniques,
                    and meditation practices. Whether you are a beginner or an experienced practitioner, our classes are
                    designed to meet you where you are on your yoga and meditation path.
                    Step into the serene ambiance of Blissful Zen and unlock the inner peace that resides within you.
                    Allow
                    yourself to be embraced by the gentle flow of energy as you cultivate balance, clarity, and
                    tranquility
                    in both your body and mind.
                    Join us at Blissful Zen Yoga and Meditation Sanctuary and embark on a soulful exploration of
                    self-discovery, where you can find solace, rejuvenation, and a profound connection to your inner
                    bliss.
                </p>
                <h5 class="text-center p-2">Namaste!</h5>
            </div>
        </div>
    </section>
    <section class="sections" id="services">
        <div class="container">
            <div class="main-title text-center">
                <span class="section-icon">
                    <i class="fa-solid fa-dharmachakra"></i>
                </span>
                <h2>What We Do</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service first">
                        <img src="../../assets/image/fitness.png" alt="Lotus position" class="service-img">
                        <h4 class="text-capitalize">Heal your emotions</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                            labore et.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service second">
                        <img src="../../assets/image/lotus-position.png" alt="Lotus position" class="service-img">
                        <h4 class="text-capitalize">Body & spirituality</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                            labore et.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service thirst">
                        <img src="../../assets/image/yoga-pose.png" alt="Lotus position" class="service-img">
                        <h4 class="text-capitalize">Refresh your body</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                            labore et.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service fouth">
                        <img src="../../assets/image/yoga-position.png" alt="Lotus position" class="service-img">
                        <h4 class="text-capitalize">Enjoy your life</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                            labore et.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service fifth">
                        <img src="../../assets/image/stretch.png" alt="Lotus position" class="service-img">
                        <h4 class="text-capitalize">Balance body & mind</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                            labore et.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service sixth">
                        <img src="../../assets/image/ragdoll-cat.png" alt="Lotus position" class="service-img">
                        <h4 class="text-capitalize">Mind & serenity</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                            labore et.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sections" id="schedule">
        <div class="container">
            <div class="main-title text-center">
                <span class="section-icon">
                    <i class="fa-solid fa-dharmachakra"></i>
                </span>
                <h2>Class Schedule</h2>
            </div>
            <div class="filter-menu text-center p-3">
                <ul class="list-filter list-unstyled">
                    <li class="active" data-filter=".all" data-type=".all">All Classes</li>
                    <li data-filter=".body-balance" data-type=".body-balance">Body Balance</li>
                    <li data-filter=".hatha-yoga" data-type=".hatha-yoga">Hatha Yoga</li>
                    <li data-filter=".children-yoga" data-type=".children-yoga">Children Yoga</li>
                    <li data-filter=".pilates" data-type=".pilates">Pilates</li>
                    <li data-filter=".yoga-dance" data-type=".yoga-dance">Yoga Dance</li>
                </ul>
            </div>
            <div class="timetable">
                <table class="table table-bordered" id="timeTable">
                    <thead>
                        <tr class="text-center text-muted">
                            <th></th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td class="text-muted">09.00</td>
                            <td class="beginner-yoga">
                                <h4>Beginner Yoga</h4>
                                <span class="text-muted">9:00 - 10:00</span>
                                <h5 class="text-muted">Emma Johnson</h5>
                            </td>
                            <td></td>
                            <td class="dynamic-yoga">
                                <h4>Dynamic Yoga</h4>
                                <span class="text-muted">9:00 - 10:00</span>
                                <h5 class="text-muted">Sophia Mitchell</h5>
                            </td>
                            <td>

                            </td>
                            <td></td>
                            <td>
                                <h4>Detox Yoga & Streching</h4>
                                <span class="text-muted">9:00 - 10:00</span>
                                <h5 class="text-muted">Sophia Mitchell</h5>
                            </td>
                            <td>
                                <h4>Recharge Yoga</h4>
                                <span class="text-muted">9:00 - 10:00</span>
                                <h5 class="text-muted">Sophia Mitchell</h5>
                            </td>
                        </tr>
                        <tr class="text-center">
                            <td class="text-muted">10.00</td>
                            <td></td>
                            <td>
                                <h4>Slow Flow</h4>
                                <span class="text-muted">10:00 - 11:00</span>
                                <h5 class="text-muted">Mia Adams</h5>
                            </td>
                            <td>
                                <h4>TM meditation</h4>
                                <span class="text-muted">10:00 - 11:00</span>
                                <h5 class="text-muted">Noah Parker</h5>
                            </td>
                            <td></td>
                            <td>
                                <h4>Ashtanga</h4>
                                <span class="text-muted">10:00 - 11:00</span>
                                <h5 class="text-muted">Mia Addams</h5>
                            </td>
                            <td></td>
                            <td>
                                <h4>Pilates Yoga</h4>
                                <span class="text-muted">10:00 - 11:00</span>
                                <h5 class="text-muted">Isabella Wilson</h5>
                            </td>
                        </tr>
                        <tr class="text-center">
                            <td class="text-muted">11.00</td>
                            <td>
                                <h4>Pilates Yoga</h4>
                                <span class="text-muted">11:00 - 12:00</span>
                                <h5 class="text-muted">Isabella Wilson</h5>
                            </td>
                            <td>
                                <h4>Beginner Yoga</h4>
                                <span class="text-muted">11:00 - 12:00</span>
                                <h5 class="text-muted">Emma Johnson</h5>
                            </td>
                            <td></td>
                            <td>
                                <h4>Dynamic Yoga</h4>
                                <span class="text-muted">11:00 - 12:00</span>
                                <h5 class="text-muted">Sophia Mitchell</h5>
                            </td>
                            <td>
                                <h4>TM meditation</h4>
                                <span class="text-muted">11:00 - 12:00</span>
                                <h5 class="text-muted">Noah Parker</h5>
                            </td>
                            <td>
                                <h4>Ashtanga</h4>
                                <span class="text-muted">11:00 - 12:00</span>
                                <h5 class="text-muted">Mia Addams</h5>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="text-center">
                            <td>12.00</td>
                            <td>
                                <h4>Dynamic Yoga</h4>
                                <span class="text-muted">12:00 - 13:00</span>
                                <h5 class="text-muted">Mia Addams</h5>
                            </td>
                            <td></td>
                            <td>
                                <h4>Ashtanga</h4>
                                <span class="text-muted">12:00 - 13:00</span>
                                <h5 class="text-muted">Mia Addams</h5>
                            </td>
                            <td>
                                <h4>Beginner Yoga</h4>
                                <span class="text-muted">12:00 - 13:00</span>
                                <h5 class="text-muted">Emma Johnson</h5>
                            </td>
                            <td></td>
                            <td>
                                <h4>TM Meditation</h4>
                                <span class="text-muted">12:00 - 13:00</span>
                                <h5 class="text-muted">Noah Parker</h5>
                            </td>
                            <td>
                                <h4>Detox Yoga & Streching</h4>
                                <span class="text-muted">12:00 - 13:00</span>
                                <h5 class="text-muted">Sophia Mitchell</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="sections" id="events">
        <div class="container">
            <div class="main-title text-center">
                <span class="section-icon">
                    <i class="fa-solid fa-dharmachakra"></i>
                </span>
                <h2>Upcoming Events</h2>
            </div>
            <div class="row text-center p-3">
                <div class="col-lg-4 col-md-6 col-sm-12 offset-lg-2">
                    <div class="card">
                        <img src="../../assets/image/yoga-card-header.jpg" class="card-img-top" alt="Yoga event">
                        <div class="card-body">
                            <h5 class="card-title">Yoga For Healthy Living</h5>
                            <p class="text-muted"><i class="fa-solid fa-clock"></i> 8:00 am 3:00 pm <i
                                    class="fa-solid fa-location-dot"></i> New York City</p>
                            <p class="card-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor incididunt ut labore et...</p>
                            <a href="#" class="btn-card">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="../../assets/image/meditation-card-header.jpg" class="card-img-top" alt="TM event">
                        <div class="card-body">
                            <h5 class="card-title">Transcendental Meditation</h5>
                            <p class="text-muted"><i class="fa-solid fa-clock"></i> 8:00 am 6:00 pm <i
                                    class="fa-solid fa-location-dot"></i> Yosemite National Park</p>
                            <p class="card-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et...</p>
                            <a href="#" class="btn-card">Continue Reading</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sections" id="prices">
        <div class="container">
            <div class="main-title text-center">
                <span class="section-icon">
                    <i class="fa-solid fa-dharmachakra"></i>
                </span>
                <h2>Our Pricing</h2>
            </div>
            <div class="row p-5">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card price">
                        <section class="card-img-top">
                            <h4>Basic Plan</h4>
                            <h5>$ <span class="price-dollar">50</span> /Mo</h5>
                        </section>
                        <div class="card-body">
                            <ul>
                                <li>Limited access to yoga and meditation classes</li>
                                <li>Basic-level access</li>
                                <li>suitable for beginners or infrequent attendees with a lower budget</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn-price">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card price">
                        <section class="card-img-top">
                            <h4>Standard Plan</h4>
                            <h5>$ <span class="price-dollar">100</span> /Mo</h5>
                        </section>
                        <div class="card-body">
                            <ul>
                                <li>Unlimited access to yoga and meditation classes</li>
                                <li>Unlimited access</li>
                                <li>ideal for regular practitioners who enjoy a variety of classes</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn-price">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card price">
                        <section class="card-img-top">
                            <h4>Premium Plan</h4>
                            <h5>$ <span class="price-dollar">130</span> /Mo</h5>
                        </section>
                        <div class="card-body">
                            <ul>
                                <li>Unlimited access to yoga and meditation classes, personalized training program</li>
                                <li>Highest level of service</li>
                                <li>personalized training program by expert instructors, maximum comfort and individual
                                    attention</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn-price">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sections" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <form method="post" class="contact-form">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" class="form-control" required>
                            <span class="input-border"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" required>
                            <span class="input-border"></span>
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" name="subject" id="subject" class="form-control" required>
                            <span class="input-border"></span>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" class="form-control" required></textarea>
                            <span class="input-border"></span>
                        </div>
                        <div class="send-message-btn">
                            <button class="btn btn-message" type="submit" name="send">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>