<body class="w-100 h-100">
    <div class="row" id="welcome">
        <div class="welcome col-12 col-md-5 my-auto mx-auto">
            <h5 class="animate">Welcome to Blissful Zen Yoga and Meditation Sanctuary!</h5>
            <h1 class="animate">
                Harmony for Body & Mind
            </h1>
            <div class="btn-div">
                <a href="#contact" class="btn btn-main m-3 p-sm-2 p-lg-3">Contact Us</a>
            </div>
        </div>
    </div>
    <section class="sections" id="aboutUs">
        <div class="container">
            <div class="main-title text-center p-4">
                <span class="section-icon">
                    <i class="fa-solid fa-dharmachakra"></i>
                </span>
                <h2>About Us</h2>
            </div>
            <div class="row">
                <p class="text-center">
                    This sacred space offers you the opportunity to discover true harmony for your body and mind through
                    the
                    practice of yoga and meditation. Blissful Zen is a sanctuary where you can escape the demands of
                    everyday life and immerse yourself in a state of pure serenity.
                    At Blissful Zen Yoga and Meditation Sanctuary, you will experience a transformative journey, guided
                    by
                    skilled instructors who will lead you through a variety of yoga asanas, pranayama breathing
                    techniques,
                    and meditation practices. Whether you are a beginner or an experienced practitioner, our classes are
                    designed to meet you where you are on your yoga and meditation path.
                    Step into the serene ambiance of Blissful Zen and unlock the inner peace that resides within you.
                    Allow
                    yourself to be embraced by the gentle flow of energy as you cultivate balance, clarity, and
                    tranquility
                    in both your body and mind.
                    Join us at Blissful Zen Yoga and Meditation Sanctuary and embark on a soulful exploration of
                    self-discovery, where you can find solace, rejuvenation, and a profound connection to your inner
                    bliss.
                </p>
                <h5 class="text-center p-2">Namaste!</h5>
            </div>
        </div>
    </section>
    <section class="sections" id="services">
        <div class="container">
            <div class="main-title text-center">
                <span class="section-icon">
                    <i class="fa-solid fa-dharmachakra"></i>
                </span>
                <h2>What We Do</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service">
                        <img src="../../assets/image/fitness.png" alt="Lotus position" class="service-img">
                        <h4 class="text-capitalize">Heal your emotions</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                            labore et.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service">
                        <img src="../../assets/image/lotus-position.png" alt="Lotus position" class="service-img">
                        <h4 class="text-capitalize">Body & spirituality</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                            labore et.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service">
                        <img src="../../assets/image/yoga-pose.png" alt="Lotus position" class="service-img">
                        <h4 class="text-capitalize">Refresh your body</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                            labore et.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service">
                        <img src="../../assets/image/yoga-position.png" alt="Lotus position" class="service-img">
                        <h4 class="text-capitalize">Enjoy your life</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                            labore et.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service">
                        <img src="../../assets/image/stretch.png" alt="Lotus position" class="service-img">
                        <h4 class="text-capitalize">Balance body & mind</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                            labore et.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service">
                        <img src="../../assets/image/ragdoll-cat.png" alt="Lotus position" class="service-img">
                        <h4 class="text-capitalize">Mind & serenity</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut
                            labore et.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sections" id="schedule">
        <div class="container">
            <div class="main-title text-center">
                <span class="section-icon">
                    <i class="fa-solid fa-dharmachakra"></i>
                </span>
                <h2>Class Schedule</h2>
            </div>
            <div class="timetable mt-5">
                <table class="table table-bordered" id="timeTable">
                    <thead>
                        <tr class="text-center text-muted">
                            <th></th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let row of timetableData">
                            <td class="text-muted">{{ row.time }}</td>
                            <td [ngClass]="row.monday.class">
                                <h4>{{ row.monday.title }}</h4>
                                <span class="text-muted">{{ row.monday.timeRange }}</span>
                                <h5 class="text-muted">{{ row.monday.instructor }}</h5>
                            </td>
                            <td [ngClass]="row.tuesday.class">
                                <h4>{{ row.tuesday.title }}</h4>
                                <span class="text-muted">{{ row.tuesday.timeRange }}</span>
                                <h5 class="text-muted">{{ row.tuesday.instructor }}</h5>
                            </td>
                            <td [ngClass]="row.wednesday.class">
                                <h4>{{ row.wednesday.title }}</h4>
                                <span class="text-muted">{{ row.wednesday.timeRange }}</span>
                                <h5 class="text-muted">{{ row.wednesday.instructor }}</h5>
                            </td>
                            <td [ngClass]="row.thursday.class">
                                <h4>{{ row.thursday.title }}</h4>
                                <span class="text-muted">{{ row.thursday.timeRange }}</span>
                                <h5 class="text-muted">{{ row.thursday.instructor }}</h5>
                            </td>
                            <td [ngClass]="row.friday.class">
                                <h4>{{ row.friday.title }}</h4>
                                <span class="text-muted">{{ row.friday.timeRange }}</span>
                                <h5 class="text-muted">{{ row.friday.instructor }}</h5>
                            </td>
                            <td [ngClass]="row.saturday.class">
                                <h4>{{ row.saturday.title }}</h4>
                                <span class="text-muted">{{ row.saturday.timeRange }}</span>
                                <h5 class="text-muted">{{ row.saturday.instructor }}</h5>
                            </td>
                            <td [ngClass]="row.sunday.class">
                                <h4>{{ row.sunday.title }}</h4>
                                <span class="text-muted">{{ row.sunday.timeRange }}</span>
                                <h5 class="text-muted">{{ row.sunday.instructor }}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="sections" id="events">
        <div class="container">
            <div class="main-title text-center">
                <span class="section-icon">
                    <i class="fa-solid fa-dharmachakra"></i>
                </span>
                <h2>Upcoming Events</h2>
            </div>
            <div class="row text-center p-3 events">
                <div class="col-lg-4 col-md-6 col-10 offset-lg-2 event card">
                    <div class="front">
                        <img src="../../assets/image/yoga-card-header.jpg" class="card-img-top" alt="Yoga event">
                        <div class="card-body">
                            <h5 class="card-title">Yoga For Healthy Living</h5>
                            <p class="text-muted"><i class="fa-solid fa-clock"></i> 8:00 am 3:00 pm <i
                                    class="fa-solid fa-location-dot"></i> New York City</p>
                            <p class="card-text text-muted">Join us for an enriching and rejuvenating "Yoga for Healthy
                                Living" workshop, where we will explore the ancient and holistic practice of yoga to
                                promote overall well-being...
                            </p>
                        </div>
                    </div>
                    <div class="back">
                        <section class="card-back-background">
                            <h5 class="card-title text-center p-3">Yoga for Healthy Living Workshop</h5>
                            <p class="title">Event Description:</p>
                            <p class="card-text text-muted">
                                Whether you are a beginner or an experienced yogi, this workshop offers something for
                                everyone, focusing
                                on enhancing physical strength, mental clarity, and emotional balance.
                            </p>
                            <p class="title">Registration:</p>
                            <p class="card-text text-muted">
                                To secure your spot for the "Yoga for Healthy Living" workshop, please visit our website
                                or <a href="#contact">contact</a> for registration and payment.
                            </p>
                            <p class="title">What to Bring:</p>
                            <ul class="text-muted">
                                <li>Comfortable yoga attire</li>
                                <li>Yoga mat</li>
                                <li>A small towel</li>
                                <li>Water bottle</li>
                                <li>An open mind and a positive attitude</li>
                            </ul>
                        </section>
                        <a href="#contact" class="btn-card">Want to Join!</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-10 event card">
                    <div class="front">
                        <img src="../../assets/image/meditation-card-header.jpg" class="card-img-top" alt="TM event">
                        <div class="card-body">
                            <h5 class="card-title">Transcendental Meditation</h5>
                            <p class="text-muted"><i class="fa-solid fa-clock"></i> 8:00 am 6:00 pm <i
                                    class="fa-solid fa-location-dot"></i> Yosemite National Park</p>
                            <p class="card-text text-muted">Transcendental Meditation (TM) is a profound and
                                transformative meditation technique
                                that can be practiced by anyone, regardless of their level of experience...</p>
                        </div>
                    </div>
                    <div class="back">
                        <section class="card-back-background">
                            <h5 class="card-title text-center p-3">Transcendental Meditation Workshop</h5>
                            <p class="title">Event Description:</p>
                            <p class="card-text text-muted">
                                In this workshop, we will delve into the art of Transcendental Meditation, exploring its
                                ancient roots and modern applications. TM is a simple and effortless practice that
                                involves the use of a unique mantra to effortlessly transcend the busy, active level of
                                the mind and experience deep, rejuvenating rest.

                            <p class="title">Registration:</p>
                            <p class="card-text text-muted">
                                To secure your spot for the "Yoga for Healthy Living" workshop, please visit our website
                                or <a href="#contact">contact</a> for registration and payment.
                            <p class="title">What to Bring:</p>
                            <ul class="text-muted">
                                <li>Comfortable and loose-fitting clothing</li>
                                <li>Your open and curious mind</li>
                                <li>A willingness to explore and grow</li>
                            </ul>
                        </section>
                        <a href="#contact" class="btn-card">Want to Join!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sections" id="prices">
        <div class="container">
            <div class="main-title text-center">
                <span class="section-icon">
                    <i class="fa-solid fa-dharmachakra"></i>
                </span>
                <h2>Our Pricing</h2>
            </div>
            <div class="row p-5 prices">
                <div class="col col-10 col-lg-3 col-md-5 card price">
                    <section class="card-img-top">
                        <h4>Basic Plan</h4>
                        <h5>$ <span class="price-dollar">50</span> /Mo</h5>
                    </section>
                    <div class="card-body">
                        <ul>
                            <li>Limited access to yoga and meditation classes</li>
                            <li>Basic-level access</li>
                            <li>suitable for beginners or infrequent attendees with a lower budget</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn-price">Buy Now</a>
                    </div>
                </div>
                <div class="col col-10 col-lg-3 col-md-5 card price">
                    <section class="card-img-top">
                        <h4>Standard Plan</h4>
                        <h5>$ <span class="price-dollar">100</span> /Mo</h5>
                    </section>
                    <div class="card-body">
                        <ul>
                            <li>Unlimited access to yoga and meditation classes</li>
                            <li>Unlimited access</li>
                            <li>ideal for regular practitioners who enjoy a variety of classes</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn-price">Buy Now</a>
                    </div>
                </div>
                <div class="col col-10 col-lg-3 col-md-5 card price">
                    <section class="card-img-top">
                        <h4>Premium Plan</h4>
                        <h5>$ <span class="price-dollar">130</span> /Mo</h5>
                    </section>
                    <div class="card-body">
                        <ul>
                            <li>Unlimited access to yoga and meditation classes, personalized training program</li>
                            <li>Highest level of service</li>
                            <li>personalized training program by expert instructors, maximum comfort and individual
                                attention</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn-price">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sections" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1" id="form-container">
                    <form method="post" class="contact-form" id="contact-form">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" class="form-control" [(ngModel)]="nameValue" required>
                            <p id="errorName" class="error">{{errorName}}</p>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control" [(ngModel)]="emailValue" required>
                            <p id="errorEmail" class="error">{{errorEmail}}</p>
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" id="subject" class="form-control" [(ngModel)]="subjectValue" required>
                            <p id="errorSubject" class="error">{{errorSubject}}</p>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message" class="form-control" [(ngModel)]="messageValue" required></textarea>
                            <p id="errorMessage" class="error">{{errorMessage}}</p>
                        </div>
                        <div class="send-message-btn">
                            <button class="btn btn-message" name="send" (click)="onSendMessage()">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <a href="#top" class="top-up-btn" id="topUpBtn">&#8679;</a>
</body>